
# Environment Variables
.env
.env.local

# Virtual Environments
venv/
__pycache__/

# Dependencies
node_modules/

# Logs & Data
*.log
token_usage.json
media/
.mudslide_cache/

# System
.DS_Store

# Agent
.agent/memory/
.npm_cache/

# Data
satele_memory/
brain/satele_memory/
satele_cfg.env

.zip